// Define desired color palettes.
$primary: "deep-orange";
$accent: "orange";
$warn: "amber";

// Import the rest of ember-paper.
@import "ember-paper";

#timer {
    position: absolute;
    visibility: hidden;
}