<h1>New Pomodoro</h1>
<p>
    {{paper-input label="Enter a task" value=pomodoroName required="style" onChange=(action (mut pomodoroName)) onKeyDown=(action 'addPomodoro') autoFocus=true}}
    {{#paper-button onClick=(action 'addPomodoro')}}
        Add
    {{/paper-button}}
  </p>
{{outlet}}
