<h1>Pomodoro Show</h1>
<ul>
  <li>Id: {{model.id}}</li>
  <li>Name: {{model.name}}</li>
  <li>Status: {{model.status}}</li>
</ul>
{{#paper-button raised=true warn=true}}
Pomodoro
{{/paper-button}}
{{#paper-button raised=true warn=true}}
Short Break
{{/paper-button}}
{{#paper-button raised=true warn=true}}
Long Break
{{/paper-button}}